$title: #ffdc2e;
$subtitle: #45a6b5;
$text: #f0f6ff;

$accent: #8657eb;

$titleFont: 'Righteous', sans-serif;
$textFont: 'Trispace', monospace;
$subtextFont: 'Crete Round', sans-serif;

$UIBarBG: #303030;
$UIBoxBG: #000000aa;

$buttonShadow: 0 0 1.1vh #ffffff70;
$textShadow: 0 0 1vh $text;

@mixin Button {
	font-family: $textFont;
	color: $text;
	background: black;
	box-shadow: $buttonShadow;
	text-shadow: $textShadow;
	padding: 1vh 1vw;
	text-align: center;
	transition-duration: 100ms;

	&:hover {
		cursor: pointer;
		box-shadow: 0 0 1vh $accent;
	}

	&:active {
		background: white;
		box-shadow: 0 0 3vh white;
		color: black;
		cursor: pointer;
	}
}
